<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />

	<context:component-scan base-package="com.xmomen.**">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- 注册BeanFactory -->
	<!--<bean id="springContextUtil" class="com.xmomen.framework.support.SpringContextUtil" primary="true" />-->

	<!-- 引入属性文件 -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath*:application.properties</value>
			</list>
		</property>
	</bean>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="configProperties"></property>
	</bean>

	<bean id="fileOperation" class="com.xmomen.framework.fss.adapters.FileStoreServiceByOss" >
		<property name="accessKeyId" value="${oss.accessKeyId}" />
		<property name="accessKeySecret" value="${oss.accessKeySecret}" />
		<property name="bucketName" value="${oss.bucketName}"/>
		<property name="endpoint" value="${oss.endpoint}"/>
	</bean>

	<import resource="classpath:config/spring-cache.xml" />
	<import resource="classpath:config/spring-jdbc.xml" />
	<import resource="classpath:config/spring-mybatis.xml" />
	<import resource="classpath:config/spring-shiro.xml" />
	<!--<import resource="classpath:config/spring-shiro-stateless.xml" />-->
	<import resource="classpath:deployerConfigContext.xml" />

</beans>