<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.authorization.mapper.UserPermissionMapper" >

   <select id="getUserPermissions" resultType="com.xmomen.module.authorization.model.PermissionModel"
           parameterType="com.xmomen.module.authorization.model.UserPermissionQuery">
       SELECT DISTINCT p.* FROM xmo_permission p
            LEFT JOIN xmo_group_permission gp ON gp.permission_id = p.id
            LEFT JOIN xmo_user_group gu ON gu.group_id = gp.group_id
            LEFT JOIN xmo_user u ON u.id = gu.user_id
            <where>
                <if test="userId">
                    AND u.id = #{userId}
                </if>
                <if test="username">
                    AND u.username = #{username}
                </if>
            </where>
            ORDER BY permission_code
   </select>

</mapper>