/** 表格样式 */
.table {
    margin-bottom: 0;
}
.action {
    text-align: center;
    width: 90px;
    padding-left: 4px !important;
}

/** 错误提示 **/
.error {
    color: red;
    font-size: 10px;
}
.invalid {
    color: red;
    font-size: 10px;
}

/** 表格空数据样式 **/
.table-data-empty {
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
    height: 300px;
    background-color: #f6f8f8;
}

/** 表格操作图标 **/
.dropdown-right-action ul {
    margin-left: -60px;
    min-width: 120px;
}
.dropdown-right-action i {
    padding: 10px 10px;
}

/** ui.router.tab样式   *****/
body{}
html a{outline:none;blr:expression(this.onFocus=this.blur());}
html {padding:0;margin:0;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img{padding:0}
table{border-collapse:collapse;border-spacing:0}

fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal}
h2{text-align:left;font-size:16px}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%;outline:none}
legend{color:#000}
a,a:link{cursor:pointer}
a:hover{}
a:focus {outline:none;-moz-outline:none;}

.clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden}
*+html .clearfix{ min-height:1%}
ul{list-style-type: none}
ul li{}
li{list-style:none}

.readonly_font_color{ color: #a5a5a5}
input{outline:none}
input:focus, textarea:focus, select:focus {border:1px solid #aaa;}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-appearance: none;outline:none
}

.tabs_box .title{font-weight:bold}
.tabs_box .nav-tabs-alt{border-bottom:1px solid #dee5e7 !important;}
.tabs_box li{width:140px !important;}
.tabs_box li a:hover{border-bottom:1px solid #23b7e5 !important;}
.tabs_box li.active,.nav-tabs-alt .nav-tabs > li.active > a{background:#23b7e5 !important;color:#fff !important;}
.nav-tabs.nav-justified > li > a{margin-bottom:-1px}
.tabs_content-based{padding:10px}
