
<!-- User info -->
<div class="login-info" data-ng-controller="LeftPanelController">
    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

        <a ui-sref="dashboard" id="show-shortcut" >
            <img src="../static/images/avatars/sunny.png" alt="me" class="online" />
            <span data-localize="account.username">
                {{account.username}}
            </span>
        </a>

    </span>
</div>
<!-- end user info -->

<!-- NAVIGATION : This navigation is also responsive

To make this navigation dynamic please make sure to link the node
(the reference to the nav > ul) after page load. Or the navigation
will not initialize.
-->

<navigation xmlns:nav="http://www.w3.org/2001/XMLSchema">
    <nav:item ui-sref="dashboard" data-icon="fa fa-fw fa-home" title="控制板" />
    <div permission only="'DICTIONARY_VIEW'">
        <nav:item ui-sref="dictionary" title="数据字典"/>
    </div>
    <div permission only="'USER_VIEW'">
        <nav:item ui-sref="user_list" title="用户管理"/>
    </div>
    <div permission only="'USER_GROUP_VIEW'">
        <nav:item ui-sref="group_list" title="用户组管理"/>
    </div>
    <div permission only="'USER_GROUP_VIEW'">
        <nav:item ui-sref="permission_list" title="权限管理" />
    </div>
    <div permission only="'ORGANIZATION_VIEW'">
        <nav:item ui-sref="organization" title="组织管理" />
    </div>
    <div permission only="'SCHEDULE_VIEW'">
        <nav:item ui-sref="schedule" title="任务调度" />
    </div>
</navigation>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
