<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " >
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">用户</h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                用户
                </div>
                <div class="row wrapper">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" ng-model="queryParam.keyword" data-ng-keyup="getUserList()" class="input-sm form-control" placeholder="请输入关键字进行模糊查询">
              <span class="input-group-btn">
                <button class="btn btn-sm btn-default" data-ng-click="getUserList()" type="button">查询</button>
                <button class="btn btn-sm btn-default" data-ng-click="add()" type="button">新增</button>
              </span>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <table class="table table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>
                                <label class="i-checks m-b-none">
                                    <input type="checkbox"
                                           name="checkAll"
                                           data-ng-click="checkAll()"
                                           ng-model="pageSetting.checkAll"><i></i>
                                </label>
                            </th>
                            <th>用户名</th>
                            <th>真实姓名</th>
                            <th>邮箱</th>
                            <th>手机号码</th>
                            <th>禁用</th>
                            <th class="action">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in userList">
                            <td>
                                <label class="i-checks m-b-none">
                                    <input type="checkbox"
                                           ng-model="item.checked"
                                           data-ng-click="changeItemChecked()"
                                           data-ng-checked="item.checked"
                                           data-ng-true-value="true"
                                           data-ng-false-value="false"><i></i>
                                </label>
                            </td>
                            <td>
                                <a ng-bind="item.username"></a>
                            </td>
                            <td>
                                <a ng-bind="item.nickname"></a>
                            </td>
                            <td>
                                <a ng-bind="item.email"></a>
                            </td>
                            <td>
                                <a ng-bind="item.phoneNumber"></a>
                            </td>
                            <td>
                                <label class="i-switch bg-primary m-t-xs m-r">
                                    <input type="checkbox" name="isLock"
                                           data-ng-true-value="true"
                                           data-ng-false-value="false"
                                           disabled
                                           ng-model="item.isLock">
                                    <i></i>
                                </label>
                            </td>
                            <td class="action">
                                <div class="btn-group open" dropdown="">
                                    <button type="button" class="btn btn-sm btn-default" data-ng-click="view($index)">查看</button>
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)" data-ng-click="view($index)">查看</a></li>
                                        <li><a href="javascript:void(0)" data-ng-click="update($index)">修改</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" data-ng-click="delete($index)">删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer table-data-empty" ng-if="!userList || userList.length == 0">
                    <div class="row">
                        <div class="col-sm-12">
                            <span><i class="icon icon-info">&nbsp;&nbsp;没有查询到符合条件的数据</i></span>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer" ng-if="userList && userList.length > 0">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="i-checks m-b-none">
                                <input type="checkbox"
                                       name="checkAll"
                                       data-ng-click="checkAll()"
                                       ng-model="pageSetting.checkAll"
                                       data-ng-true-value="true"
                                       data-ng-false-value="false"><i></i>
                            </label>
                            <div class="btn-group open" dropdown="">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                                    批量操作
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:void(0)" data-ng-click="batchExport($index)"><i class="fa fa-download">&nbsp;&nbsp;批量导出</i></a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" data-ng-click="batchDelete($index)"><i class="fa fa-minus">&nbsp;&nbsp;批量删除</i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ug-pagination page-info="pageInfoSetting"></ug-pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- / main -->
</div>
<script type="text/ng-template" id="user_detail.html">
    <div class="modal-header">
        <h3 class="modal-title">用户</h3>
    </div>
    <div class="modal-body">
        <div class="widget-body">

            <form class="form-horizontal" ug-validate="userDetailForm" name="userDetailFormName">
                <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    用户名
                                    <span class="vaild">*</span>
                                </label>
                                <div class="col-md-9">
                                        <input class="form-control" type="text" name="username" placeholder="请输入用户名"
                                               ng-disabled="pageSetting.formDisabled"
                                               data-msg-required="用户名必填"
                                               required="true"
                                               data-rule-maxlength="30"
                                               ng-model="user.username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    真实姓名
                                </label>
                                <div class="col-md-9">
                                        <input class="form-control" type="text" name="nickname" placeholder="请输入真实姓名"
                                               ng-disabled="pageSetting.formDisabled"
                                               data-rule-maxlength="20"
                                               ng-model="user.nickname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    邮箱
                                </label>
                                <div class="col-md-9">
                                        <input class="form-control" type="text" name="email" placeholder="请输入邮箱"
                                               ng-disabled="pageSetting.formDisabled"
                                               data-rule-maxlength="30"
                                               ng-model="user.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    手机号码
                                </label>
                                <div class="col-md-9">
                                        <input class="form-control" type="text" name="phoneNumber" placeholder="请输入手机号码"
                                               ng-disabled="pageSetting.formDisabled"
                                               data-rule-maxlength="20"
                                               ng-model="user.phoneNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    禁用
                                </label>
                                <div class="col-md-9">
                                        <label class="i-switch bg-primary m-t-xs m-r">
                                            <input type="checkbox" name="isLock"
                                                   data-ng-true-value="true"
                                                   data-ng-false-value="false"
                                                   ng-disabled="pageSetting.formDisabled"
                                                   ng-model="user.isLock">
                                            <i></i>
                                        </label>
                                </div>
                            </div>

                    <div class="form-group" ng-if="errors">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10 error">
                            {{errors.message}}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="pageSetting.formDisabled" ng-if="!pageSetting.formDisabled" type="submit" data-ng-click="saveUser()">
            <i class="fa fa-save"></i>
            保存
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            <i class="icon icon-close"></i>
            关闭</button>
    </div>
</script>