<!-- list -->
<ul class="nav">

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>常用导航</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard">
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span>仪表盘</span>
    </a>
  </li>

  <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>模板开发</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.template">
      <i class="fa fa-user icon"></i>
      <span>模板管理</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.form">
      <i class="fa fa-user icon"></i>
      <span>自定义表单</span>
    </a>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>系统设置</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.user">
      <i class="fa fa-user icon"></i>
      <span>用户</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.group">
      <i class="fa fa-users icon"></i>
      <span>用户组</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.permission">
      <i class="fa fa-key icon"></i>
      <span>权限</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dictionary">
      <i class="fa fa-book icon"></i>
      <span>数据字典</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dictionaryGroup">
      <i class="fa fa-book icon"></i>
      <span>数据字典组</span>
    </a>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">我的资料</span>
  </li>  
  <li>
    <a ui-sref="app.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success pull-right">30%</b>
      <span translate="aside.nav.your_stuff.PROFILE">简介</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.fileupload">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.MEDIA_HUB">媒体库</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.documents">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.DOCUMENTS">帮助文档</span>
    </a>
  </li>
</ul>
<!-- / list -->