<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " >
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-sm">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">数据字典组</h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-sm">
            <div class="panel panel-default">
                <div class="panel-heading">
                数据字典组
                </div>
                <div class="row wrapper">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" ng-model="queryParam.keyword"
                                   data-ng-keyup="getDictionaryGroupList()"
                                   class="input-sm form-control" placeholder="请输入关键字进行模糊查询">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default"
                                            btn-loading="pageSetting.queryBtnLoading"
                                            data-ng-click="getDictionaryGroupList()" type="button">
                                        <i class="icon icon-magnifier"></i>&nbsp;&nbsp;查询
                                    </button>
                                    <button class="btn btn-sm btn-default"
                                            data-ng-click="reset()" type="button">
                                        <i class="icon icon-action-redo"></i>&nbsp;&nbsp;重置
                                    </button>
                                    <button class="btn btn-sm btn-default"
                                            data-ng-click="add()" type="button">
                                        <i class="icon icon-plus"></i>&nbsp;&nbsp;新增
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <table class="table table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>
                                <label class="i-checks m-b-none">
                                    <input type="checkbox"
                                           name="checkAll"
                                           data-ng-click="checkAll()"
                                           ng-model="pageSetting.checkAll"><i></i>
                                </label>
                            </th>
                            <th>字典编号</th>
                            <th>字典描述</th>
                            <th>激活</th>
                            <th class="action">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in dictionaryGroupList"
                            ng-if="(dictionaryGroupList && dictionaryGroupList.length > 0) && !pageSetting.queryBtnLoading"
                            data-ng-mouseenter="item.showAction=true"
                            data-ng-mouseleave="item.showAction=false">
                            <td>
                                <label class="i-checks m-b-none">
                                    <input type="checkbox"
                                           ng-model="item.checked"
                                           data-ng-click="changeItemChecked()"
                                           data-ng-checked="item.checked"
                                           data-ng-true-value="true"
                                           data-ng-false-value="false"><i></i>
                                </label>
                            </td>
                            <td>
                                <a ng-bind="item.dictionaryType"></a>
                            </td>
                            <td>
                                <a ng-bind="item.dictionaryDesc"></a>
                            </td>
                            <td>
                                <label class="i-switch bg-primary m-r">
                                    <input type="checkbox" name="active"
                                           data-ng-true-value="true"
                                           data-ng-false-value="false"
                                           disabled
                                           ng-model="item.active">
                                    <i></i>
                                </label>
                            </td>
                            <td class="action">
                                <div ng-show="item.showAction" class="dropdown dropdown-right-action" dropdown="">
                                    <i class="icon icon-settings" dropdown-toggle="" aria-haspopup="true" aria-expanded="false"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" data-ng-click="view($index)"><i class="icon icon-info"></i>&nbsp;&nbsp;查看</a></li>
                                        <li><a href="javascript:void(0)" data-ng-click="update($index)"><i class="fa fa-edit"></i>&nbsp;&nbsp;修改</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" data-ng-click="delete($index)"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ug-empty-data-msg ng-if="(!dictionaryGroupList || dictionaryGroupList.length == 0) && !pageSetting.queryBtnLoading"></div>
                <div ug-loading-msg ng-if="pageSetting.queryBtnLoading"></div>
                <footer class="panel-footer" ng-if="dictionaryGroupList && dictionaryGroupList.length > 0 && !pageSetting.queryBtnLoading">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="i-checks m-b-none">
                                <input type="checkbox"
                                       name="checkAll"
                                       data-ng-click="checkAll()"
                                       ng-model="pageSetting.checkAll"
                                       data-ng-true-value="true"
                                       data-ng-false-value="false"><i></i>
                            </label>
                            <div class="btn-group open" dropdown="">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                                    批量操作&nbsp;&nbsp;
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:void(0)" data-ng-click="batchExport($index)"><i class="fa fa-download">&nbsp;&nbsp;批量导出</i></a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" data-ng-click="batchDelete($index)"><i class="fa fa-trash">&nbsp;&nbsp;批量删除</i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ug-pagination page-info="pageInfoSetting" load-parameter="queryParam" load-data="getDictionaryGroupList"></ug-pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- / main -->
</div>
<script type="text/ng-template" id="dictionaryGroup_detail.html">
    <div class="modal-header">
        <h3 class="modal-title">数据字典组</h3>
    </div>
    <div class="modal-body">
        <div class="widget-body">

            <form class="form-horizontal" ug-validate="dictionaryGroupDetailForm" name="dictionaryGroupDetailFormName">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            字典编号
                        </label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="dictionaryType" placeholder="请输入字典编号"
                                   ng-disabled="pageSetting.formDisabled"
                                   data-rule-maxlength="50"
                                   data-msg-maxlength="字典编号字符长度限制[0,50]"
                                   ng-model="dictionaryGroup.dictionaryType">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            字典描述
                        </label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="dictionaryDesc" placeholder="请输入字典描述"
                                   ng-disabled="pageSetting.formDisabled"
                                   data-rule-maxlength="255"
                                   data-msg-maxlength="字典描述字符长度限制[0,255]"
                                   ng-model="dictionaryGroup.dictionaryDesc">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            激活
                        </label>
                        <div class="col-md-9">
                            <label class="i-switch bg-primary m-r">
                                <input type="checkbox" name="active"
                                       data-ng-true-value="true"
                                       data-ng-false-value="false"
                                       ng-disabled="pageSetting.formDisabled"
                                       ng-model="dictionaryGroup.active">
                                <i></i>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" ng-if="errors">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10 error">
                            {{errors.message}}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit"
                btn-loading="pageSetting.saveBtnLoading"
                ng-disabled="pageSetting.formDisabled"
                ng-if="!pageSetting.formDisabled" data-ng-click="saveDictionaryGroup()">
            <i class="fa fa-save"></i>
            保存
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            <i class="icon icon-close"></i>
            关闭</button>
    </div>
</script>