<div class="wrapper-sm">
  <h1 class="m-n font-thin h3">基本资料</h1>
</div>
<div class="wrapper-md" >
    <div class="panel panel-default">
    <div class="panel-heading font-bold">
      基本资料
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="get">
        <div class="form-group">
          <label class="col-lg-2 control-label">头像：</label>
          <div class="col-lg-10">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">用户名</label>
          <div class="col-lg-10">
            <p class="form-control-static" ng-bind="Account.username"></p>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">登录密码</label>
          <div class="col-lg-8">
            <p class="form-control-static">安全性高的密码可以使帐号更安全。建议您定期更换密码，设置一个包含字母，符号或数字中至少两项且长度超过6位的密码。</p>
          </div>
          <div class="col-lg-2">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="settingPassword()">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">邮箱绑定</label>
          <div class="col-lg-8">
            <p class="form-control-static">您已绑定了邮箱tan***@139.com [您的邮箱可以直接用于登录、找回密码等]</p>
          </div>
          <div class="col-lg-2">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="settingPassword()">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">手机绑定</label>
          <div class="col-lg-8">
            <p class="form-control-static">您已绑定了手机150****4483 [您的手机号可以直接用于登录、找回密码等]</p>
          </div>
          <div class="col-lg-2">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="settingPassword()">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>