<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.logger.mapper.ActionLogMapper" >


    <insert id="insertActionLog" parameterType="com.xmomen.module.logger.LogModel">
        INSERT INTO xmo_action_log(
                id,
                user_id,
                client_ip,
                action_name,
                action_date,
                action_params,
                action_result,
                target_class,
                target_method
        )
        VALUES
	    ( REPLACE(UUID(), '-', ''),
	            #{userId},
	            #{clientIp},
	            #{actionName},
	            sysdate(),
	            #{actionParams},
	            #{actionResult},
	            #{targetClass},
	            #{targetMethod}
	            )
    </insert>
    
    <select id="getActionLogs" parameterType="com.xmomen.module.logger.model.ActionLogQuery"
            resultType="com.xmomen.module.logger.LogModel">
        SELECT
        l.*
        FROM
        xmo_action_log l
        LEFT JOIN xmo_user u ON u.ID = l.USER_ID
        <where>
            <if test="keyword">
                AND (UPPER(u.username) LIKE CONCAT('%', UPPER(#{keyword}), '%')
                    or UPPER(u.email) LIKE CONCAT('%', UPPER(#{keyword}), '%')
                    or UPPER(u.PHONE_NUMBER) LIKE CONCAT('%', UPPER(#{keyword}), '%')
                    or l.action_name LIKE CONCAT('%', UPPER(#{keyword}), '%'))
            </if>
            <if test="userId">
                AND l.user_id = #{userId}
            </if>
            <if test="username">
                AND (UPPER(u.username) = UPPER(#{username}) or UPPER(u.email) = UPPER(#{username}) or UPPER(u.PHONE_NUMBER) = UPPER(#{username}))
            </if>
            <if test="startActionDate">
                <![CDATA[
                AND date_format(action_date, '%Y-%m-%d') >= date_format(#{startActionDate},'%Y-%m-%d')
                ]]>
            </if>
            <if test="endActionDate">
                <![CDATA[
                AND date_format(action_date, '%Y-%m-%d') <= date_format(#{endActionDate},'%Y-%m-%d')
                ]]>
            </if>
        </where>
        order by l.action_date desc
    </select>
</mapper>