<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.logger.mapper.ActionLogMapper" >


    <insert id="insertActionLog" parameterType="com.xmomen.module.logger.LogModel">
        INSERT INTO xmo_action_log(
                id,
                user_id,
                client_ip,
                action_name,
                action_date,
                action_params,
                action_result,
                target_class,
                target_method
        )
        VALUES
	    ( REPLACE(UUID(), '-', ''),
	            #{userId},
	            #{clientIp},
	            #{actionName},
	            sysdate(),
	            #{actionParams},
	            #{actionResult},
	            #{targetClass},
	            #{targetMethod}
	            )
    </insert>
</mapper>