<div class="row var-button">
    <div class="col-xs-12">
        <div class="lid"><b>基本资料</b></div>
        <div class="core">
            <div class="row var-prompt">
                <div class="form-group col-xs-9">
                    <label class="col-sm-2 control-label">
                        <span class="c-red mr05">*</span>会员身份</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" placeholder="请输入运单号">
                    </div>
                </div>
                <div class="form-group col-xs-9">
                    <label class="col-sm-2 control-label">
                        <span class="c-red mr05">*</span>真实姓名
                    </label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" placeholder="请输入真实姓名">
                    </div>
                </div>
                <div class="form-group col-xs-9">
                    <label class="col-sm-2 control-label">手机号</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="form-group has-success has-feedback col-xs-9">
                    <label class="col-sm-2 control-label">正确</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" placeholder="正确">
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-left:12px" aria-hidden="true"> 正确提示</span>
                    </div>
                </div>
                <div class="form-group has-error has-feedback col-xs-9">
                    <label class="col-sm-2 control-label">错误</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" placeholder="错误">
                        <span class="glyphicon glyphicon-remove form-control-feedback" style="margin-left:12px" aria-hidden="true"> 错误提示</span>
                        <span id="inputError2Status" class="sr-only">(error)</span>
                    </div>
                </div>
                <div class="form-group col-xs-9">
                    <label class="col-sm-2 control-label">头像选择</label>
                    <div class="col-sm-10">
                        <ul class="favicon-pic">
                            <li>
                                <a href="#" class="header001 header00-opt"></a>
                                <a href="#" class="header002"></a>
                                <a href="#" class="header003"></a>
                                <a href="#" class="header004"></a>
                                <a href="#" class="header005"></a>
                                <a href="#" class="header006"></a>
                                <a href="#" class="header001"></a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="has-success col-xs-9">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="checkbox col-sm-10">
                        <button type="button" class="btn btn-primary">保存资料</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>