<style>
    .view-pdt-navbar{left:161px}
    .show-hide-rt{left: 324px}
    .view-product-content{padding-left: 345px}
</style>
<!--ONE Left panel start-->
<div class="view-one-navleft clearfix">
    <div class="product-nav-list one-nav">
        <ul>
            <li>
                <a href="#" class="firstpane">
                    <div class="nav-icon">
                        <span class="glyphicon glyphicon-triangle-right btn-xs"></span>
                    </div>
                    <div class="nav-title">产品与服务</div>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <div class="nav-icon ml15"><i class="fa fa-comments fa-fw"></i></div>
                            <div class="nav-stitle">客服- COS </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="nav-icon ml15"><i class="fa fa-th-large fa-fw"></i></div>
                            <div class="nav-stitle">仓库- OSO</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="nav-icon ml15"><i class="fa fa-plane fa-fw"></i></div>
                            <div class="nav-stitle">转运- SPS</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="nav-icon ml15"><i class="fa fa-cube fa-fw"></i></div>
                            <div class="nav-stitle">仓储- WMS</div>
                        </a>
                    </li>
                    <li>
                        <a href="/index.html">
                            <div class="nav-icon ml15"><i class="fa fa-share-alt fa-fw"></i></div>
                            <div class="nav-stitle">运维中心（AMS）</div>
                        </a>
                    </li>
                    <li>
                        <a href="/acl/index.html">
                            <div class="nav-icon ml15"><i class="fa fa-share-alt fa-fw"></i></div>
                            <div class="nav-stitle">访问控制</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="mt08">
                <a href="#" class="firstpane">
                    <div class="nav-icon">
                        <span class="glyphicon glyphicon-triangle-right btn-xs"></span>
                    </div>
                    <div class="nav-title">用户中心</div>
                </a>
                <ul>
                    <li>
                        <a href="account/account.html">
                            <div class="nav-icon ml15"><i class="fa fa-clipboard fa-fw"></i></div>
                            <div class="nav-stitle">账户管理</div>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="nav-icon ml15"><i class="fa fa-key fa-fw"></i></div>-->
                            <!--<div class="nav-stitle">消息中心</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="nav-icon ml15"><i class="fa fa-link fa-fw"></i></div>-->
                            <!--<div class="nav-stitle">工单管理</div>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--ONE Left panel end-->
